@tailwind base;
@tailwind components;
@tailwind utilities;

/* ▼▼▼ TAMBAHKAN GAYA DASAR UNTUK DARK MODE ▼▼▼ */
@layer base {
    body {
        @apply bg-gray-50 text-gray-900;
        @apply dark:bg-gray-900 dark:text-gray-200;
    }
}

@layer utilities {
  @keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  .animate-bounce {
    animation: bounce 1s infinite;
  }
}